appdirs==1.4.4
argcomplete==1.12.2
astroid==2.4.2
asttokens==2.0.4
attrs==20.3.0
beautifulsoup4==4.9.3
Bottleneck==1.2.1
Brlapi==0.8.1
certifi==2020.6.20
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cryptography==3.3.1
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.21
dbus-python==1.2.16
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
distro==1.5.0
distro-info==0.24
docutils==0.16
dStorage==0.0.1a0
et-xmlfile==1.0.1
filelock==3.0.12
fuse-python==1.0.1
gpg===1.14.0-unknown
html5lib==1.1
httplib2==0.18.1
idna==2.10
importlib-metadata==1.6.0
iniconfig==0.0.0
isort==5.6.4
jdcal==1.0
jedi==0.18.0
Jinja2==2.11.2
Kivy==1.11.0
kiwisolver==1.3.1
lazy-object-proxy==0.0.0
libvirt-python==6.1.0
logilab-common==1.8.1
louis==3.16.0
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
more-itertools==4.2.0
mypy==0.800
mypy-extensions==0.4.3
notify2==0.3
numexpr==2.7.2
numpy==1.19.4
odfpy==1.4.1
olefile==0.46
openpyxl==3.0.3
packaging==20.8
pandas==1.1.5
parso==0.8.1
pbr==5.5.0
pep517==0.6.0
pexpect==4.8.0
Pillow==8.1.0
pipx==0.15.6.0
pluggy==0.13.0
psutil==5.8.0
ptyprocess==0.6.0
py==1.10.0
pycairo==1.16.2
pycups==2.0.1
pycurl==7.43.0.6
pyenchant==3.2.0
pygame==1.9.6
Pygments==2.7.1
PyGObject==3.38.0
pylibacl==0.6.0
pylint==2.6.0
PyMySQL==0.9.3
PyOpenGL==3.1.5
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
pyserial==3.5b0
PySimpleSOAP==1.16.2
pysmbc==1.0.23
pytest==6.0.2
python-apt==2.1.7
python-dateutil==2.8.1
python-debian==0.1.39
python-debianbts==3.1.0
pytoml==0.1.21
pytz==2020.5
pyxattr==0.7.2
pyxdg==0.27
PyYAML==5.3.1
reportbug==7.9.0
reportlab==3.5.59
requests==2.25.1
rickslab-gpu-utils==3.5.0
roman==2.0.0
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
scipy==1.6.0
scour==0.38.2
Send2Trash==1.5.0
sh==1.14.1
six==1.15.0
soupsieve==2.1
stevedore==3.2.2
tables==3.6.1
thonny==3.2.7
toml==0.10.1
tornado==6.1
typed-ast==1.4.2
typing-extensions==3.7.4.3
unattended-upgrades==0.1
urllib3==1.26.2
userpath==1.4.1
virtualenv==20.2.1
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.4
webencodings==0.5.1
wrapt==1.12.1
xdg==5
xlrd==1.2.0
xlwt==1.3.0
zipp==1.0.0
